<div class="row">
    <div class="col-sm-4">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}tfigueroa3.jpg" alt="Headshot of Taneisha Figueroa" onclick="window.open('http://www.taneishafigueroa.com/assets/img/tfigueroa3.jpg', '_blank');" />
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}tfigueroa4.jpg" alt="Headshot of Taneisha Figueroa" onclick="window.open('http://www.taneishafigueroa.com/assets/img/tfigueroa4.jpg', '_blank');" />
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}tfigueroa5.jpg" alt="Headshot of Taneisha Figueroa" onclick="window.open('http://www.taneishafigueroa.com/assets/img/tfigueroa5.jpg', '_blank');" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}tfigueroa6.jpg" alt="Headshot of Taneisha Figueroa" onclick="window.open('http://www.taneishafigueroa.com/assets/img/tfigueroa3.jpg', '_blank');" />
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}tfigueroa9.jpg" alt="Headshot of Taneisha Figueroa" onclick="window.open('http://www.taneishafigueroa.com/assets/img/tfigueroa4.jpg', '_blank');" />
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}tfigueroa10.jpg" alt="Headshot of Taneisha Figueroa" onclick="window.open('http://www.taneishafigueroa.com/assets/img/tfigueroa5.jpg', '_blank');" />
        </figure>
    </div>
</div>
