<div class="row">
    <!--<div class="col-sm-6">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}casino.png" alt="casino photo" onclick="window.open('http://kennethbigler.github.io/casino/', '_blank');" />
            <figcaption>Advancing work on Angular and creating casino games</figcaption>
        </figure>
    </div>
    <div class="col-sm-6">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}timecard.png" alt="timecard photo" onclick="window.open('http://kennethbigler.github.io/timecard/', '_blank');" />
            <figcaption>This is a project I did to learn AngularJS, much of which influenced my resume site</figcaption>
        </figure>
    </div>
    <div class="col-sm-6">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}clickgame.png" alt="click game photo" onclick="window.open('http://kennethbigler.github.io/clickgame/', '_blank');" />
            <figcaption>This is a project I did to learn AngularJS, much of which influenced my resume site</figcaption>
        </figure>
    </div>
    <div class="col-sm-6">
        <figure>
            <img class="headshot resp handc" ng-src="{{ imgURL }}visualization.png" alt="visualization photo" onclick="window.open('http://kennethbigler.github.io/DataProcessing/', '_blank');" />
            <figcaption>Using AngularJS and SVG for data visualization and processing</figcaption>
        </figure>
    </div>-->
    <h2>Coming Soon</h2>
</div>