<div class="row">
    <div class="col-xs-12">
        <!-- About -->
        <div class="mainContent">
            <h3 class="mainHeader">About Taneisha Figueroa</h3>
            <div class="row">
                <div class="col-md-6">
                    <img id="main_photo" class="resp handc" ng-src="{{ imgURL }}tfigueroa10.jpg" alt="This is a photo of Taneisha Figueroa" onclick="window.open('https://www.linkedin.com/in/taneisha-figueroa/', '_blank');" />
                </div>
                <div class="col-md-6">
                    <h2>Recent Roles</h2>
                    <h4>
                        <b>GeoBlade Girl</b> - Geoblade Riding Tutorial for Hoverboard Technologies<br />
                        <b>Maggie... "Take a Leap"</b> - SCU short fiction film
                    </h4>
                    <br />
                    <h2>Upcoming Projects</h2>
                    <h4>
                        <b>GeoBlade Rider</b> - Comercial for Hoverboard Technologies<br />
                    </h4>
                </div>
            </div>
        </div><!-- /About -->
    </div>
</div>
