<div class="row">
    <div class="col-sm-6 col-xs-12">
        <iframe class="youtube-player" max-width="560" height="315" src="https://www.youtube.com/embed/hBbbwtXv_7U" frameborder="0" allowfullscreen></iframe>
        <p>Taneisha playing Lauren<br />Won "Best Short Fiction" in SCU Film Festival 2016</p>
        <iframe class="youtube-player" max-width="560" height="315" src="https://www.youtube.com/embed/VabqegUepYI" frameborder="0" allowfullscreen></iframe>
        <p>Directed by Taneisha</p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <iframe class="youtube-player" max-width="560" height="315" src="https://www.youtube.com/embed/DXuPC01NHlU" frameborder="0" allowfullscreen></iframe>
        <p>Taneisha playing Maggie</p>
        <iframe src="https://player.vimeo.com/video/158580318" class="youtube-player" max-width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p>Directed and produced by Taneisha<br />Won "Best Documentary" in SCU Film Festival 2016</p>
    </div>
</div>
