<div class="row">
    <div class="col-sm-12">
        <h2 class="center">Education</h2>
        <p>
            <b>Santa Clara University</b><br />
            Bachelor of Arts in Communication and Film, GPA: 3.2, June 2016<br />
            Theatre Minor, Thomas and Mary Carroll Scholarship
        </p>
        <h2 class="center">Work Experience</h2>
        <p class="pull-left"><b>Marketing Coordinator</b>: Hoverboard Technologies, Mountain View CA</p>
        <p class="pull-right">August 2016 - Present</p>
        <p>&nbsp;</p>
        <ul>
            <li>Assist in administrative responsibilities</li>
            <li>Brainstorm marketing and branding strategies</li>
            <li>Coordinate trade shows (CES 2017, SF World Fair Nano)</li>
            <li>Create media and marketing content (press releases)</li>
            <li>Maintain social media sites (FB, Twitter, Instagram, Youtube ect.)</li>
            <li>Assist with HR and recruiting</li>
            <li>Write the users manual and get UL certification</li>
            <li>Photographer and videographer for products</li>
            <li>Costumer service agent</li>
            <li>Advise in website and dashboard development</li>
        </ul>
        <p class="pull-left"><b>Intern</b>: Telemundo 48, San Jose CA</p>
        <p class="pull-right">January - February 2015</p>
        <p>&nbsp;</p>
        <ul>
            <li>Organized story ideas and breaking news on Dalet</li>
            <li>Performed the duties of teleprompter on the 5, 6, 10 am shows with cut ins at 7:30 and 9:30 a.m.</li>
            <li>Managed the assignment desk with calls to police stations, traffic agencies and multiple sources for breaking news</li>
            <li>Wrote “tickers” in Spanish 3 times a show concerning traffic flow in the bay area</li>
        </ul>
        <p class="pull-left"><b>Journalist</b>: Santa Clara Newspaper, Santa Clara, CA</p>
        <p class="pull-right">August - November 2013</p>
        <p>&nbsp;</p>
        <ul>
            <li>Pitched story ideas to editor</li>
            <li>Interviewed people in a wide range of circumstances</li>
            <li>Wrote stories for publication on a tight deadline</li>
            <li>Built contacts and sources for use in future stories</li>
        </ul>
        <p class="pull-left"><b>Head Quarter</b>: Steve and Kate’s Camp, Sunnyvale CA</p>
        <p class="pull-right">June - August 2015</p>
        <p>&nbsp;</p>
        <ul>
            <li>Created 1st experience for all parents and campers, cultivating a trusting relationship and welcoming environment</li>
            <li>Provided support to parents by answering questions, providing resources, and following up in a timely manner</li>
            <li>Analyzed and resolved camper behavioral issues accordingly</li>
            <li>Communicated child innovative achievements, and collaboration to parents daily</li>
        </ul>
        <h2 class="center">Short Films</h2>
        <ul>
            <li>Writer and Director to senior thesis fiction film “Always” - 2016</li>
            <li>Director and Producer to short documentary “God and Glen” - 2015<br />***(Won Best Documentary in Genesis Film Festival 2016</li>
            <li>Writer, Director, and Producer to short fiction film “Out of the Shadows” - 2016</li>
        </ul>
        <h2 class="center">Skills</h2>
        <ul>
            <li>Fluent in Spanish</li>
            <li>Computer: Avid, iMovie, Final Cut Pro, Dalet, Microsoft, Excel, PowerPoint</li>
            <li>Tenacious, passionate, creative, collaborative worker, diligent, dependable, positive</li>
        </ul>
        <h2 class="center">Acting and Dance</h2>
        
        <div class="col-sm-3"><b>Maggie…</b></div>
        <div class="col-sm-6 center">“Take a Leap” by Rhonda Teeny</div>
        <div class="col-sm-3 right-align">February 2017</div>
        
        <div class="col-sm-3"><b>Almay…</b></div>
        <div class="col-sm-6 center">“Spinning” by Lyndsey Brown</div>
        <div class="col-sm-3 right-align">June 2016</div>
        
        <div class="col-sm-3"><b>Governess…</b></div>
        <div class="col-sm-6 center">“The Good Doctor” by Neil Simon</div>
        <div class="col-sm-3 right-align">March 2016</div>
        
        <div class="col-sm-3"><b>Dancer…</b></div>
        <div class="col-sm-6 center">Images 2016 by Pauline Kanter</div>
        <div class="col-sm-3 right-align">February 2016</div>
        
        <div class="col-sm-3"><b>Anne…</b></div>
        <div class="col-sm-6 center">“Hapa Cup of Sugar” by Marissa Martinez</div>
        <div class="col-sm-3 right-align">November 2015</div>
        
        <div class="col-sm-3"><b>Belmira…</b></div>
        <div class="col-sm-6 center">“The River Bride” by Marisela Trevino Orta</div>
        <div class="col-sm-3 right-align">May 2015</div>
        
        <div class="col-sm-3"><b>Cast member…</b></div>
        <div class="col-sm-6 center">“Deceit, Despair and Debauchery” a collection of musicals</div>
        <div class="col-sm-3 right-align">March 2015</div>
        
        <div class="col-sm-3"><b>Cast member…</b></div>
        <div class="col-sm-6 center">“Savage Love” poems of Sam Shepard</div>
        <div class="col-sm-3 right-align">December 2014</div>
    </div>
</div>